@model APVTranslator_Entity.Models.TextSegment
@Scripts.Render("~/bundles/script/translate")
@Styles.Render("~/bundles/content/translate")
@{
    ViewBag.Title = "Translate";
    Layout = "~/Views/Shared/_TranslateLayout.cshtml";
}
<div class="translate-body" ng-controller="translateCtrl">
    <div class="translate-top" style="display:inline-block">
        <p id="connectStatus">Lose connection to server, anything your change can be save!</p>
        <p style="display:inline-block" ng-cloak>{{fileName}} - ({{projectName}})</p>
        <select class="form-control" id="destinationLanguageFile" style="width:220px;display:inline-block;float:right">
            <option value="">--Translate to--</option>
            <option value="ja">Japanese</option>
            <option value="vi">Vietnamese</option>
        </select>
        <button type="button" title="Export File" ng-click="dowload_exportFile()" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-export"></i></button>
    </div>
    <div style="display:inline-block">

    </div>
    <div class="translate-center">
        <div class="grid-translate gridStyle" ng-init="init()" ng-grid="gridOptions" />
    </div>

    <ul id="context1" class="dropdown-menu">
        <li><a ng-click="copy()">Copy</a></li>
        <li><a ng-click="copyToDes()">Copy To DestinationLanguage</a></li>
        @*<li><a ng-click="delete()">Delete</a></li>
            <li class="divider"></li>
            <li><a ng-click="properties()">Properties</a></li>*@
    </ul>
    <ul id="context2" class="dropdown-menu">
        <li><a ng-click="copy()">Copy</a></li>
        @*<li><a ng-click="delete()">Delete</a></li>
            <li class="divider"></li>
            <li><a ng-click="properties()">Properties</a></li>*@
    </ul>
    @section scripts{
        <script>
            var projectId = '@ViewBag.ProjectId';
            var fileId = '@ViewBag.FileId';
            var userId = '@ViewBag.UserId';
            var targetLang = '@ViewBag.TargetLang';
            if (targetLang == null || targetLang == '') {
                targetLang = 'vi';
            }
            var translateBox = $('select[id ="destinationLanguageFile"]');
            translateBox.val(targetLang);
        </script>
    }
</div>

<script>
    $('select[id ="destinationLanguageFile"]').change(function () {
        var selectedValue = $(this).prop('selectedIndex');
        var translateLanguage = document.getElementById("destinationLanguageFile");
        targetLang = translateLanguage.value;
        $.ajax({
            type: "POST",
            url: Utility.getBaseUrl() + 'Translate/SaveTargetLang',
            data: JSON.stringify({ 'projectId': projectId, 'fileId': fileId, 'targetLang': targetLang }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.success) {

                }
                else {
                    alert(response.responseText);
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    });
</script>