@model APVTranslator_Entity.Models.TextSegment
@Scripts.Render("~/bundles/script/translate")
@Styles.Render("~/bundles/content/translate")
@{
    ViewBag.Title = "Translate";
    Layout = "~/Views/Shared/_TranslateLayout.cshtml";
}
<div class="translate-body" ng-controller="translateCtrl">
    <div class="translate-top" style="display:inline-block">
        <p style="display:inline-block" ng-cloak>{{fileName}} - ({{projectName}})</p>
        <select class="form-control" id="destinationLanguageFile" style="width:220px;display:inline-block;float:right">
            <option value=""></option>
            <option value="ja">Vietnamese To Japanese</option>
            <option value="vi">Japanese to Vietnamese</option>
        </select>
    </div>
    <div style="display:inline-block">

    </div>
    <div class="translate-center">
        <div class="grid-translate gridStyle" ng-init="init()" ng-grid="gridOptions" />
    </div>
    <md-button class="dowload-file md-fab md-primary md-hue-2" ng-click="dowload_exportFile()" aria-label="dowload">
        <md-icon class="material-icons">file_download</md-icon>
        <md-tooltip md-direction="left">
            Dowload File
        </md-tooltip>
    </md-button>
    <ul id="context1" class="dropdown-menu">
        <li><a ng-click="copy()">Copy</a></li>
        <li><a ng-click="copyToDes()">Copy To DestinationLanguage</a></li>
        @*<li><a ng-click="delete()">Delete</a></li>
            <li class="divider"></li>
            <li><a ng-click="properties()">Properties</a></li>*@
    </ul>
    <ul id="context2" class="dropdown-menu">
        <li><a ng-click="copy()">Copy</a></li>
        @*<li><a ng-click="delete()">Delete</a></li>
            <li class="divider"></li>
            <li><a ng-click="properties()">Properties</a></li>*@
    </ul>
    @section scripts{
        <script>
            var projectId = '@ViewBag.ProjectId';
            var fileId = '@ViewBag.FileId';
            var userId = '@ViewBag.UserId';
            var languagePair = '@ViewBag.LanguagePair';
            var arrLang = languagePair.split('|');
            var targetLang = null;
            if (arrLang.length == 2) {
                targetLang = arrLang[1];
            }
        </script>
    }
</div>

<script>
    $('select[id ="destinationLanguageFile"]').change(function () {
        var selectedValue = $(this).prop('selectedIndex');
        var translateLanguage = document.getElementById("destinationLanguageFile");
        targetLang = translateLanguage.value;
    });
</script>