<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css") 
    @*@Styles.Render("~/bundles/material_css")
    @Scripts.Render("~/bundles/material_js")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")  
    @Styles.Render("~/bundles/angular-custom_css");
    @Styles.Render("~/bundles/angular_material_css")
    @Scripts.Render("~/bundles/angular_js")
    @Scripts.Render("~/bundles/angular-animate_js")
    @Scripts.Render("~/bundles/angular-aria_js")
    @Scripts.Render("~/bundles/angular-material_js")
    @Scripts.Render("~/bundles/angular-grid_js")
    @Scripts.Render("~/bundles/loading_js")
    @Styles.Render("~/bundles/loading_css")
    @Scripts.Render("~/bundles/commonjs")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .onHoverChangeColor:hover{
   background-color:#c56767 !important;
}
    </style>
</head>
<body ng-app="apvApp">
    <div ng-controller="ctTopbar" class="apv-navbar navbar navbar-fixed-top" style="background: linear-gradient(to right, #086962, #086962,#086962) transparent !important;" >
        <div class="container-fluid">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("APVTranslator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand onHoverChangeColor" })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Home", new { @class = "onHoverChangeColor" })</li>
                    <li>@Html.ActionLink("Help", "About", "Home", new { @class = "onHoverChangeColor" })</li>
                  
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="main container-fluid body-content">
        @RenderBody()
    </div>
    <footer style="background-color:#086962;color:white">
        <p>&copy; @DateTime.Now.Month/@DateTime.Now.Year - APV Translator Tool</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
